<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.backend.mapper.PdAuthUserMapper">

    <resultMap id="BaseResultMap" type="com.pd.backend.entity.PdAuthUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="orgId" column="org_id" jdbcType="BIGINT"/>
            <result property="stationId" column="station_id" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="BIT"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="workDescribe" column="work_describe" jdbcType="VARCHAR"/>
            <result property="passwordErrorLastTime" column="password_error_last_time" jdbcType="TIMESTAMP"/>
            <result property="passwordErrorNum" column="password_error_num" jdbcType="INTEGER"/>
            <result property="passwordExpireTime" column="password_expire_time" jdbcType="TIMESTAMP"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,name,
        org_id,station_id,email,
        mobile,sex,status,
        avatar,work_describe,password_error_last_time,
        password_error_num,password_expire_time,password,
        last_login_time,create_user,create_time,
        update_user,update_time
    </sql>
    <select id="selectByAccount" resultType="com.pd.backend.entity.PdAuthUser">
        select * from pd_auth_user where account=#{account}
    </select>
</mapper>
